/.LajerEditor.xtendbin
/.ExampleComponents.java._trace
/.ExampleComponents.xtendbin
/.LajerEditor.java._trace
/.LajerInput.java._trace
/.LajerInput.xtendbin
/ExampleComponents.java
/LajerEditor.java
/LajerInput.java
/.DragAndDropComponentDelegate.java._trace
/.ISelectable.java._trace
